

.container {
  display: flex;
  justify-content: space-evenly;
  width:100%;
  text-align: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1025px){
  .container {
    display: flex;
    flex-direction: column;
 
}}